{% extends'base.html.twig' %}

{% block section %}

    <p> {{ author.name }}</p>
    <p> {{ author.firstName }} pages</p>
    <p>Genre: {{ author.birthDate }}</p>
    <p>{{ author.deathDate }}</p>
    <p>{{ author.biography }}</p>

{% endblock %}