<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English&display=swap" rel="stylesheet">
    <title>{% block title %}L I B R A I R I E {% endblock %} </title>
</head>
<body>
<header>

        <div class="logo">
            <a href="{{ path('booklist') }}"><h1>CHILLING ROOM</h1></a>
        </div>
    <nav>
        <a href="{{ path('booklist') }}"><p>LIVRES</p></a>

        <a href="{{ path('authorlist') }}"><p>AUTEURS</p></a>

        {% block login %}<a href="{{ path('admin_booklist') }}"><div class="login"><img class="resp" src="{{ asset('img/login.png') }}" alt=""></div></a>{% endblock %}

    </nav>
</header>

{% block section %}

{% endblock %}

</body>

<footer>
    <div class="reseau">
        <div>
            <img width="100px" src="https://i.pinimg.com/originals/ce/c8/a6/cec8a6239de29acbfcfee0ccec995b9f.png" alt="">
        </div>

        <div>
            <img width="80px" src="https://images.vexels.com/media/users/3/141370/isolated/preview/73211069a13c828088c2e85b2569e787-twitter-distorted-round-icon-by-vexels.png" alt="">
        </div>

        <div>
            <img width="130px" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Instagram_Icon.png" alt="">
        </div>
    </div>
</footer>

</body>
</html>