{% extends 'base.html.twig' %}

{% block title %} A U T E U R S {% endblock %}


{% block section %}

    <div class="container">

    {% for author in authors %}

        <div class="books">

            <h1> {{ author.name }} <h2>{{ author.firstName }}</h2></h1>
            <div class="update">

                <a href=""><div class="detail"><img class="resp" src="{{ asset('img/agenda.png') }}" alt=""></div></a>
                <a href="{{ path('author_update_form', {id: author.id}) }}"><div class="detail"><img class="resp" src="{{ asset('img/pencil.png') }}" alt=""></div></a>
                <a href=""><div class="detail"><img class="resp" src="{{ asset('img/trash.png') }}" alt=""></div></a>
            </div>
        </div>

    {% endfor %}

    </div>
{% endblock %}